<article>
  <% @projects.each do |item| %>
    <section class="project_info">
      <%= image_tag(thumb_project_path(item), :class => "thumb") %>
      <div class="title"> <%= item.title %> </div>
      <div class="description"> <%= item.description %> </div>
      <div class="url">
        <a href=<%= item.url %> ><%= item.url %> </a>
      </div>
    </section>
  <% end %>
</article>
